@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300&display=swap');


html {
    scroll-behavior: smooth;

}

body {
    font-family: 'Poppins', sans-serif;
}

.cart-body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.anim-typewriter {
    position: relative;
    width: 24em;
    margin: 0 auto 0 0;
    /* border-right: 2px solid rgba(255, 255, 255, .75); */
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 1s steps(15) 1s 1 normal both,
        blinkTextCursor 500ms steps(15) infinite normal;
    line-height: 1.5;
}

@keyframes typewriter {
    from {
        width: 0em;
    }

    to {
        width: 7.7em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
    }
}




.cart-body {
    --main-color: #333;
    --primary-color: #acacac;
    --icon-color: #525252;
}

i {
    width: 2rem;
    height: 2rem;
}

.fa,
.fas {
    font-weight: 900;
    display: grid;
    place-items: center;
    font-size: 1.6rem;
    cursor: pointer;
}

.cart-body {
    width: 80%;
    height: 100vh;
    margin: auto;
}

.cart-body.header {
    width: 100%;
    line-height: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 0.1rem solid #9a9191;
    transform: rotate(-0.05deg);
    margin-bottom: 7rem;
}

.continue-shopping {
    display: flex;
    height: inherit;
    align-items: center;
}

.continue-shopping .arrow-icon {
    width: 1.2rem;
    height: 1.2rem;
}

.continue-shopping h3 {
    font-size: 1.2rem;
    text-transform: capitalize;
    color: var(--main-color);
    margin-left: 1.5rem;
    font-weight: 400;
}

.cart-icon {
    display: flex;
    text-align: end;
    margin-right: 2rem;
    align-items: center;
    position: relative;
    justify-content: flex-end;
}

.cart-icon img {
    width: 2.5rem;
    height: 2.5rem;
    color: #2f80ed;
}

.cart-icon p {
    position: absolute;
    width: 2rem;
    height: 2rem;
    right: -1.2rem;
    top: 0.9rem;
    border-radius: 50%;
    background: #99cbf7;
    color: #fff;
    box-sizing: border-box;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
}

.main-cart-section h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: capitalize;
    color: rgba(41, 41, 41, 1);
    margin-bottom: 1rem;
}

.main-cart-section .total-items {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    text-transform: capitalize;
    color: var(--main-color);
    margin-bottom: 1rem;
}

.total-items-count {
    font-weight: bold;
    color: var(--main-color);
}

/* cart main div start  */

.main-cart-section .cart-items {
    width: 100%;
    height: 24rem;
    background: linear-gradient(103.49deg,
            #ffffff -28.13%,
            rgba(242, 247, 255, 0.5) 116.84%);
    box-shadow: rgba(0, 0, 0, 0.08) 0rem 0.4rem 1.2rem;
    border-radius: 2rem;
    margin: auto;
    margin: auto;
    display: grid;
    place-items: center;
}

.cart-items hr {
    margin: 2rem auto;
    overflow-y: scroll;
}

.cart-items-container {
    width: 90%;
    height: 100%;
}

.items-info {
    width: 100%;
    height: 5rem;
    /* background-color: lavender; */
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.items-info .product-img img {
    width: 3rem;
    height: 3rem;
    filter: drop-shadow(0rem 0.4rem 1rem #f1f7ff);
    border-radius: 0.5rem;
}

.items-info .title {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.items-info .title h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: var(--main-color);
}

.items-info .title p {
    font-style: normal;
    font-weight: normal;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    text-align: left;
    color: var(--primary-color);
}

.add-minus-quantity {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.add-minus-quantity button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.add-minus-quantity input {
    width: 4rem;
    height: 2rem;
    border: 0.141rem solid var(--primary-color);
    box-sizing: border-box;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    text-align: center;
    text-transform: capitalize;
    color: var(--primary-color);
    margin: 0 1rem;
    border-radius: 0.5rem;
    outline: none;
    background-color: transparent;
}

.add-minus-quantity input:focus {
    outline: none;
}

.price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.price h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 1.3rem;
    text-transform: capitalize;
    color: var(--main-color);
}

.remove-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5rem;
}

.remove-item button {
    border: none;
    background-color: transparent;
}

.card-total {
    width: 95%;
    margin-top: 2rem;
    text-align: right;
}

.card-total h3 {
    font-style: 200;
    font-size: 1rem;
    line-height: 1.2rem;
    text-transform: capitalize;
    color: #606166;
}

.card-total h3 span {
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.2rem;
    text-transform: capitalize;
    color: #000000;
    margin-left: 1rem;
}

.card-total button {
    border: none;
    font-size: 1.2rem;
    padding: 0.8rem 1.5rem;
    color: #fff;
    background-color: #349bf3;
    text-transform: uppercase;
    margin-top: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    letter-spacing: 1px;
    margin-right: 1rem;
}

/* hover effects  */
.fa-trash-alt {
    color: #ed4848;
}

.fa-plus:hover {
    color: #42c157;
}

.fa-minus:hover {
    color: #ffb800;
}

.fa-plus,
.fa-minus {
    color: var(--icon-color);
}

.card-total button:hover {
    background-color: #0077dc;
}

/* responsive media queries  */

@media (max-width: 968px) {
    .cart-body {
        font-size: 50%;
    }
}

@media (max-width: 768px) {
    .continue-shopping h3 {
        margin-left: 0;
    }

    .items-info {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
    }

    .title,
    .add-minus-quantity,
    .price,
    .remove-item {
        padding-left: 2rem;
    }

    .items-info .product-img {
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
    }

    .add-minus-quantity {
        margin: 2rem 0 2rem 0;
        justify-content: flex-start;
    }

    .price {
        justify-content: flex-start;
        margin-bottom: 2rem;
    }

    .price h3::before {
        content: "Price: ";
    }

    .remove-item {
        justify-content: flex-start;
    }

    .card-total {
        margin-bottom: 2rem;
        text-align: center;
    }

    .card-total button {
        margin-bottom: 2rem;
    }
}


.card {

    perspective: 1000px;
    position: relative;
}

.card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1.5s;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front {

    transform: rotateY(0deg);
}

.card-back {
    transform: rotateY(-180deg);
}



.horizontal-card {
    perspective: 1000px;
    position: relative;
}

.horizontal-card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1.5s;
}

.horizontal-card.flipped .horizontal-card-inner {
    transform: rotateX(180deg);
}

.horizontal-card-front,
.horizontal-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.horizontal-card-front {
    background-color: #e9e9e9;
    transform: rotateX(0deg);
}

.horizontal-card-back {
    background-color: #c4c4c4;
    transform: rotateX(-180deg);
}

.flip-button {
    margin-top: 16px;
}

/* headings */


@media screen and (max-width: 640px) {
    h1 {
        font-size: 40px;
    }
}

@media screen and (min-width: 640px) and (max-width: 1200px) {
    h1 {
        font-size: 52px;
    }
}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 70px;
    }
}




@media screen and (max-width: 640px) {
    h2 {
        font-size: 30px;
    }
}

@media screen and (min-width: 640px) and (max-width: 1200px) {
    h2 {
        font-size: 44px;
    }
}

@media screen and (min-width: 1200px) {
    h2 {
        font-size: 48px;
    }
}

h2 {
    font-weight: bold;
}




@media screen and (max-width: 640px) {
    h3 {
        font-size: 12px;
    }
}

@media screen and (min-width: 640px) and (max-width: 1200px) {
    h3 {
        font-size: 14px;
    }
}

@media screen and (min-width: 1200px) {
    h3 {
        font-size: 16px;
    }
}

h3 {
    font-weight: medium;
    color: #596573;
}

.animate-card {
    animation-name: slideIn;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes slideIn {
    0% {
        transform: translateY(60%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-text {
    animation-name: slideInText;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes slideInText {
    0% {
        transform: translateY(70%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* h2{
    font-size: 50px;

} */

/* h3{
    font-size: 45px
} */
/* h4{
    font-size: 20px;
} */

/* Shopping Checkout animation */
/* :root {
    --primary: #275EFE;
    --primary-light: #7699FF;
    --dark: #1C212E;
    --grey-dark: #3F4656;
    --grey: #6C7486;
    --grey-light: #CDD9ED;
    --white: #FFF;
    --green: #16BF78;
    --sand: #DCB773;
    --sand-light: #EDD9A9;
}

.order {
    appearance: none;
    border: 0;
    background: var(--dark);
    position: relative;
    height: 63px;
    width: 240px;
    padding: 0;
    outline: none;
    cursor: pointer;
    border-radius: 32px;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.order span {
    --o: 1;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 19px;
    line-height: 24px;
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    opacity: var(--o);
    transition: opacity 0.3s ease;
}

.order span.default {
    transition-delay: 0.3s;
}

.order span.success {
    --offset: 16px;
    --o: 0;
}

.order span.success svg {
    width: 12px;
    height: 10px;
    display: inline-block;
    vertical-align: top;
    fill: none;
    margin: 7px 0 0 4px;
    stroke: var(--green);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: var(--offset);
    transition: stroke-dashoffset 0.3s ease;
}

.order:active {
    transform: scale(0.96);
}

.order .lines {
    opacity: 0;
    position: absolute;
    height: 3px;
    background: var(--white);
    border-radius: 2px;
    width: 6px;
    top: 30px;
    left: 100%;
    box-shadow: 15px 0 0 var(--white), 30px 0 0 var(--white), 45px 0 0 var(--white), 60px 0 0 var(--white), 75px 0 0 var(--white), 90px 0 0 var(--white), 105px 0 0 var(--white), 120px 0 0 var(--white), 135px 0 0 var(--white), 150px 0 0 var(--white), 165px 0 0 var(--white), 180px 0 0 var(--white), 195px 0 0 var(--white), 210px 0 0 var(--white), 225px 0 0 var(--white), 240px 0 0 var(--white), 255px 0 0 var(--white), 270px 0 0 var(--white), 285px 0 0 var(--white), 300px 0 0 var(--white), 315px 0 0 var(--white), 330px 0 0 var(--white);
}

.order .back,
.order .box {
    --start: var(--white);
    --stop: var(--grey-light);
    border-radius: 2px;
    background: linear-gradient(var(--start), var(--stop));
    position: absolute;
}

.order .truck {
    width: 60px;
    height: 41px;
    left: 100%;
    z-index: 1;
    top: 11px;
    position: absolute;
    transform: translateX(24px);
}

.order .truck:before,
.order .truck:after {
    --r: -90deg;
    content: '';
    height: 2px;
    width: 20px;
    right: 58px;
    position: absolute;
    display: block;
    background: var(--white);
    border-radius: 1px;
    transform-origin: 100% 50%;
    transform: rotate(var(--r));
}

.order .truck:before {
    top: 4px;
}

.order .truck:after {
    --r: 90deg;
    bottom: 4px;
}

.order .truck .back {
    left: 0;
    top: 0;
    width: 60px;
    height: 41px;
    z-index: 1;
}

.order .truck .front {
    overflow: hidden;
    position: absolute;
    border-radius: 2px 9px 9px 2px;
    width: 26px;
    height: 41px;
    left: 60px;
}

.order .truck .front:before,
.order .truck .front:after {
    content: '';
    position: absolute;
    display: block;
}

.order .truck .front:before {
    height: 13px;
    width: 2px;
    left: 0;
    top: 14px;
    background: linear-gradient(var(--grey), var(--grey-dark));
}

.order .truck .front:after {
    border-radius: 2px 9px 9px 2px;
    background: var(--primary);
    width: 24px;
    height: 41px;
    right: 0;
}

.order .truck .front .window {
    overflow: hidden;
    border-radius: 2px 8px 8px 2px;
    background: var(--primary-light);
    transform: perspective(4px) rotateY(3deg);
    width: 22px;
    height: 41px;
    position: absolute;
    left: 2px;
    top: 0;
    z-index: 1;
    transform-origin: 0 50%;
}

.order .truck .front .window:before,
.order .truck .front .window:after {
    content: '';
    position: absolute;
    right: 0;
}

.order .truck .front .window:before {
    top: 0;
    bottom: 0;
    width: 14px;
    background: var(--dark);
}

.order .truck .front .window:after {
    width: 14px;
    top: 7px;
    height: 4px;
    position: absolute;
    background: rgba(255, 255, 255, 0.14);
    transform: skewY(14deg);
    box-shadow: 0 7px 0 rgba(255, 255, 255, 0.14);
}

.order .truck .light {
    width: 3px;
    height: 8px;
    left: 83px;
    transform-origin: 100% 50%;
    position: absolute;
    border-radius: 2px;
    transform: scaleX(0.8);
    background: #f0dc5f;
}

.order .truck .light:before {
    content: '';
    height: 4px;
    width: 7px;
    opacity: 0;
    transform: perspective(2px) rotateY(-15deg) scaleX(0.94);
    position: absolute;
    transform-origin: 0 50%;
    left: 3px;
    top: 50%;
    margin-top: -2px;
    background: linear-gradient(90deg, #f0dc5f, rgba(240, 220, 95, 0.7), rgba(240, 220, 95, 0));
}

.order .truck .light.top {
    top: 4px;
}

.order .truck .light.bottom {
    bottom: 4px;
}

.order .box {
    --start: var(--sand-light);
    --stop: var(--sand);
    width: 21px;
    height: 21px;
    right: 100%;
    top: 21px;
}

.order .box:before,
.order .box:after {
    content: '';
    top: 10px;
    position: absolute;
    left: 0;
    right: 0;
}

.order .box:before {
    height: 3px;
    margin-top: -1px;
    background: rgba(0, 0, 0, 0.1);
}

.order .box:after {
    height: 1px;
    background: rgba(0, 0, 0, 0.15);
}

.order.animate .default {
    --o: 0;
    transition-delay: 0s;
}

.order.animate .success {
    --offset: 0;
    --o: 1;
    transition-delay: 7s;
}

.order.animate .success svg {
    transition-delay: 7.3s;
}

.order.animate .truck {
    animation: truck 10s ease forwards;
}

.order.animate .truck:before {
    animation: door1 2.4s ease forwards 0.3s;
}

.order.animate .truck:after {
    animation: door2 2.4s ease forwards 0.6s;
}

.order.animate .truck .light:before,
.order.animate .truck .light:after {
    animation: light 10s ease forwards;
}

.order.animate .box {
    animation: box 10s ease forwards;
}

.order.animate .lines {
    animation: lines 10s ease forwards;
}

@keyframes truck {

    10%,
    30% {
        transform: translateX(-164px);
    }

    40% {
        transform: translateX(-104px);
    }

    60% {
        transform: translateX(-224px);
    }

    75%,
    100% {
        transform: translateX(24px);
    }
}

@keyframes lines {

    0%,
    30% {
        opacity: 0;
        transform: scaleY(0.7) translateX(0);
    }

    35%,
    65% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }

    100% {
        transform: scaleY(0.7) translateX(-400px);
    }
}

@keyframes light {

    0%,
    30% {
        opacity: 0;
        transform: perspective(2px) rotateY(-15deg) scaleX(0.88);
    }

    40%,
    100% {
        opacity: 1;
        transform: perspective(2px) rotateY(-15deg) scaleX(0.94);
    }
}

@keyframes door1 {

    30%,
    50% {
        transform: rotate(32deg);
    }
}

@keyframes door2 {

    30%,
    50% {
        transform: rotate(-32deg);
    }
}

@keyframes box {

    8%,
    10% {
        transform: translateX(40px);
        opacity: 1;
    }

    25% {
        transform: translateX(112px);
        opacity: 1;
    }

    26% {
        transform: translateX(112px);
        opacity: 0;
    }

    27%,
    100% {
        transform: translateX(0px);
        opacity: 0;
    }
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: inherit;
}

*:before,
*:after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    font-family: Roboto, Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E4ECFA;
}

body .dribbble {
    position: fixed;
    display: block;
    right: 20px;
    bottom: 20px;
}

body .dribbble img {
    display: block;
    height: 28px;
} */