@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300&display=swap');


html {
    scroll-behavior: smooth;

}

body {
    background-color: #F9F9F9;
    font-family: 'Poppins', sans-serif;
}

.anim-typewriter {
    position: relative;
    width: 24em;
    margin: 0 auto 0 0;
    /* border-right: 2px solid rgba(255, 255, 255, .75); */
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 1s steps(15) 1s 1 normal both,
        blinkTextCursor 500ms steps(15) infinite normal;
    line-height: 1.5;
}

@keyframes typewriter {
    from {
        width: 0em;
    }

    to {
        width: 7.7em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
    }
}


.card {

    perspective: 1000px;
    position: relative;
}

.card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1.5s;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front {

    transform: rotateY(0deg);
}

.card-back {
    transform: rotateY(-180deg);
}



.horizontal-card {
    perspective: 1000px;
    position: relative;
}

.horizontal-card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1.5s;
}

.horizontal-card.flipped .horizontal-card-inner {
    transform: rotateX(180deg);
}

.horizontal-card-front,
.horizontal-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.horizontal-card-front {
    background-color: #e9e9e9;
    transform: rotateX(0deg);
}

.horizontal-card-back {
    background-color: #c4c4c4;
    transform: rotateX(-180deg);
}

.flip-button {
    margin-top: 16px;
}

/* headings */


@media screen and (max-width: 640px) {
    h1 {
        font-size: 40px;
    }
}

@media screen and (min-width: 640px) and (max-width: 1200px) {
    h1 {
        font-size: 52px;
    }
}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 70px;
    }
}




@media screen and (max-width: 640px) {
    h2 {
        font-size: 30px;
    }
}

@media screen and (min-width: 640px) and (max-width: 1200px) {
    h2 {
        font-size: 44px;
    }
}

@media screen and (min-width: 1200px) {
    h2 {
        font-size: 48px;
    }
}

h2 {
    font-weight: bold;
}




@media screen and (max-width: 640px) {
    h3 {
        font-size: 12px;
    }
}

@media screen and (min-width: 640px) and (max-width: 1200px) {
    h3 {
        font-size: 14px;
    }
}

@media screen and (min-width: 1200px) {
    h3 {
        font-size: 16px;
    }
}

h3 {
    font-weight: medium;
    color: #596573;
}

.animate-card {
    animation-name: slideIn;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes slideIn {
    0% {
        transform: translateY(60%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-text {
    animation-name: slideInText;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes slideInText {
    0% {
        transform: translateY(70%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}